@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src:  url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT';
    src:  url('../fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
body {
    font-family: 'Proxima Nova', sans-serif;
    background-color: #00000066;
    color: black;
}
.card{
    background-color: white;
    max-width: 744px;
    padding: 24px 0 16px;
    border-radius: 8px;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3px 0;
        margin: 0 24px 40px;
    }
    &__autor{
        display: flex;
        align-items: center;
        gap: 12px;
    }
    &__image{
        height: 32px;
        width: 32px;
    }
    &__name{
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        margin-bottom: 2px;
    }
    &__title--desctop{
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: #00000066;
    }
    &__info{
        &--desctop{
            display: flex;
            gap: 12px;
            width: 368px;
            justify-content: space-between;
        }
        &--mobile{
            display: none;
        }
    }
    &__subinfo{
        display: flex;
        flex-direction: column;
        gap: 8px;
        
    }
    &__txt{
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        &--green{
            color: #62B435;

        }
        &--gray{
            color: #00000066;

        }
        &--red{
            color: #F64747;

        }
    }
    &__body{
        margin: 0 24px 24px;
        position: relative;
        max-height: 120px; 
        overflow: hidden; 
        transition: max-height 0.5s cubic-bezier(0.05, 0.7, 0.1, 1);
        &.expanded {
            max-height: 2000px;
            transition: max-height 0.5s cubic-bezier(0.9, 0.1, 0.75, 0.05);
            .card__text::after {
                display: none;
            }
        }
    }
    &__text{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 40px;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
            pointer-events: none; 
        }
        &--gray{
            color: #00000099;


        }

    }
    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 24px 24px 22px;
        border-left: solid #3498DB;
        gap: 16px;
        position: relative;
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        gap:12px;
    }
    &__prediction{

    }
    &_outlook{
        margin-bottom: 8px;
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
        color: #00000066;

    }
    &__forecast{
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
    }
    &__coefficient{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }
    &__factor{

    }
    &__rate{
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;

        &--desctop{

        }
        &--mobile{
            display: none;
        }
    }
    &__number{
        font-family: 'Futura PT', sans-serif;
        
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }
    &__btn{
        width: 140px;
        height: 40px;
        padding: 12px 16px 12px 16px;
        border-radius: 4px;
        background: #3498DB;

        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        text-align: center;
        color: white;

    }
}
.lunge{
    &__block{
        border-radius: 50%;
        height: 40px;
        width: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: calc(50% - 20px);
        top: -25px;
    }
    &__icon{
        height: 16px;
        width: 16px;
        transition: transform 0.3s ease;
        &.rotated {
            transform: rotate(180deg);  
        }
    }
}


@media (max-width: 744px) {
    .card {
      width: 350px;
  
      &__title--desctop,
      &__info--desctop,
      &__rate--desctop {
        display: none;
      }
  
      &__rate--mobile {
        display: inline;
      }
  
      &__info--mobile {
        display: block;
  
        .card__txt {
          font-weight: 400;
  
          &--gray {
            text-align: end;
            font-weight: 600;
          }
        }
      }
  
      &__header {
        margin-bottom: 32px;
        margin-left: 16px;
        margin-right: 16px;
        padding: 0;
      }
  
      &__body {
        margin-left: 16px;
        margin-right: 16px;
        padding: 0;
      }
  
      &__footer {
        display: block;
        padding: 16px 16px 16px 14px;
      }
  
      &__forecast {
        font-size: 16px;
        line-height: 18px;
      }
  
      &__block {
        margin-bottom: 16px;
        align-items: end;
      }
  
      &__prediction {
        max-width: calc(100% - 102px);
      }
  
      &__number {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
      }
  
      &__btn {
        width: 100%;
      }
    }
  }
  